
<div class="container">

<p id="fuel-price-css"> Current fuel net price (wholesale): {{vm.fuelPrice}} [zł/l] </p>


<form ng-submit="vm.search()">
    <div class="form-group">
        <label for="fuel-machineNumber">Machine number</label>
        <input class="form-control" id="fuel-machineNumber" ng-model="vm.params.machineNumber" />

    </div>
    <div class="form-group">
        <label for="fuel-year">Year</label>
        <input class="form-control" id="fuel-year"
               ng-model="vm.year"/>

    </div>

    <div class="form-group">
        <label for="fuel-month">Month</label>
        <input class="form-control" id="fuel-month"
               ng-model="vm.month"/>
    </div>

    <button class="btn btn-primary" type="submit">Search</button>

</form>


<table class="table table-striped">
    <thead>
    <tr>
        <td>Machine number</td>
        <td>Date</td>
        <td>Fuel quantity</td>
        <td>Fuel price</td>
        <td>Fuel cost</td>
        <td>Counter state</td>
        <td>Action</td>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="fuel in vm.fillings">
        <td>{{fuel.machine.machineNumber}}</td>
        <!--<td>{{fuel.date | date:'y'}}-{{fuel.date | date:'MM'}}-{{fuel.date | date:'d'}} {{fuel.date | date:'HH'}}:{{fuel.date | date:'mm'}}</td>-->
        <td>{{fuel.date | date : medium}}</td>
        <td>{{fuel.fuelQuantity | number : 2}}</td>
        <td>{{fuel.fuelPrice | number : 2}}</td>
        <td>{{fuel.fuelQuantity * fuel.fuelPrice | number:2}}</td>
        <td>{{fuel.counterState}}</td>
        <td>
                <button class="btn btn-success" ng-click="vm.edit(fuel.id)">Edit</button>
                <button class="btn btn-danger" ng-click="vm.remove(fuel.id)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<p>{{vm.error}}</p>

</div>